{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Web</title>
    <link rel="stylesheet" href={% static "styles.css" %}>
</head>
<body>
    <header>
        <h1> {{hoy}} </h1>
    </header>
    <main>
        <ol>
            {% for i in objeto  %}
            <li> {{i.nombre}} </li>
            {% endfor %}
        </ol>
        <ul>
            {% for i in libros  %}
            <li> {{i.titulo}} </li>
            {% endfor %}
        </ul>
    </main>
    <footer></footer>
   


<script src={% static "script.js" %}></script>
</body>
</html>